In [2]:
import pandas as pd

file_path = 'admissions_data.csv'
admissions_data = pd.read_csv(file_path)

admissions_data.head()

   S/N Program  Reported  Registered % Conversion
0    1    DBAM         8           8      100.00%
1    2     MBA        21          17       80.95%
2    3     BAF       408         378       92.65%
3    4    BPST        18          17       94.44%
4    5     BPT        40          38       95.00%

In [4]:
admissions_data['% Conversion'] = admissions_data['% Conversion'].str.rstrip('%').astype(float)

admissions_summary = admissions_data.describe()

sorted_by_conversion = admissions_data.sort_values(by='% Conversion', ascending=False)

sorted_by_reported = admissions_data.sort_values(by='Reported', ascending=False)

admissions_summary, sorted_by_conversion.head(), sorted_by_reported.head()

(             S/N    Reported  Registered  % Conversion
 count  46.000000   46.000000   46.000000     46.000000
 mean   23.500000  149.739130  140.956522     94.199130
 std    13.422618  161.786751  152.553227      3.820956
 min     1.000000    1.000000    1.000000     80.950000
 25%    12.250000   27.750000   26.000000     92.217500
 50%    23.500000   96.500000   90.500000     94.640000
 75%    34.750000  215.250000  204.250000     96.060000
 max    46.000000  614.000000  587.000000    100.000000,
     S/N Program  Reported  Registered  % Conversion
 0     1    DBAM         8           8         100.0
 15   16     BAS        19          19         100.0
 33   34     DDM         5           5         100.0
 32   33     DDA        11          11         100.0
 29   30     DCP        30          30         100.0,
     S/N Program  Reported  Registered  % Conversion
 10   11     BED       614         587         95.60
 19   20   BSCIT       568         523         92.08
 42   43     DSE       485         465         95.88
 11   12    BIRD       445         427         95.96
 38   39     DIT       410         377         91.95)